# Ignorar todas as pastas que começam com ponto (.)
.*/

# Ignorar arquivos que começam com .
.*

# Ignorar pastas __pycache__
**/_*/

# Ignora a pasta de dados
data/

# Anotações de melhorias e testes
testes.py